{% extends "recordlist/base.html" %}
{% load record_extension %}

{% block title %}SR Tracker - List View{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#select-all').on('change', function() {
            var checked = $(this).is(':checked');

            $('[name="recordid"]').each(function() {
               $(this).prop('checked', checked);
            });
        });

        $('#btn-review').click(function() {
            $('#form').attr('action', '{% url 'markreview' %}');
            $('#form').submit();
        });
    });
</script>
{% endblock %}

{% block page_header %}SR Tracker <small>List View</small>{% endblock %}
{% block toolbar %}
    <a class="btn btn-primary" id="btn-create" href="{% url 'create' %}">
      <span class="glyphicon glyphicon-plus"></span> Add
    </a>

    <button type="submit" class="btn btn-success" id="btn-review">
        <span class="glyphicon glyphicon-check"></span> Mark Reviewed
    </button>


    <div class="btn-group align-right">
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#toolbar-filter" aria-expanded="false" aria-controls="toolbar-filter">
            <span class="glyphicon glyphicon-filter"></span>Record Filter
        </button>
    </div>
{% endblock %}

{% block filter %}
    <div id="toolbar-filter" class="panel-collapse collapse" role="tabpanel" aria-labelledby="toolbar-header">
      <div class="panel-body">
        <form method="post" id="form-filter" action="?filter=on">
            {% for fieldname, filtertype in filter_config.iteritems %}
            <div class="form-group">
                {% if filtertype == filter_type.FROM_TO %}
                    <div class="input-group">
                        <span class="input-group-addon">{{ fieldname }} <span class="label label-default">{{ filtertype.0 }}</span></span>
                        <input type="text" class="form-control" placeholder="{{ fieldname }}" name="{{ fieldname }}">
                        <span class="input-group-addon"><span class="label label-default">{{ filtertype.1 }}</span></span>
                        <input type="text" class="form-control" placeholder="{{ fieldname }}" name="{{ fieldname }}">
                    </div>
                {% else %}
                    <div class="input-group">
                      <span class="input-group-addon">{{ fieldname }} <span class="label label-default">{{ filtertype }}</span></span>
                      <input type="text" class="form-control" placeholder="{{ fieldname }}" name="{{ fieldname }}">
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-info">Filter</button>
                <button type="reset" class="btn btn-default">Clean</button>
            </div>
        </form>
      </div>
    </div>
{% endblock %}

{% block content %}
    <nav>
        <ul class="pagination">
        <li>
            {% if records.has_previous %}
            <a href="{% page_url current_url records.previous_page_number %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {% endif %}
        </li>
        <li><a href="#" aria-label="Current">Page {{ records.number }} of {{ records.paginator.num_pages }}</a></li>
        <li>
            {% if records.has_next %}
              <a href="{% page_url current_url records.next_page_number %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            {% endif %}
        </li>
      </ul>
        <h4>Total Row Count: <span class="label label-default">{{ total_count }}</span></h4>
    </nav>

    <form method="post" id="form">
    {% csrf_token %}

    <table class="table table-bordered table-hover">
        <tr>
            <th><input type="checkbox" id="select-all"></th>
            {% for header in header_all %}
            <th>
                <a href="{% sort_url current_url header.name header.order %}" class="btn {{ header.caret_style }}">
                    {{ header }}
                    {% if header.show_caret %}
                        <span class="caret"></span>
                    {% endif %}
                </a>
            </th>
            {% endfor %}
        </tr>

        {% for record in records %}
        <tr style="cursor: pointer">
            <td><input type="checkbox" name="recordid" value="{{ record.recordId }}"></td>
            <td> <a href="{% url 'detail' record.recordId %}">{{ record.recordId }}</a> </td>
            {% for header in header_no_id %}
                {% if header == 'srNumber' %}
                <td><a href="{% sr_url record.srNumber %}" target="_blank">{{ record.srNumber }}</a> </td>
                {% else %}
                <td>{{ record|field:header }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </form>

    <nav>
        <ul class="pagination">
        <li>
            {% if records.has_previous %}
            <a href="{{ current_url }}page={{ records.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {% endif %}
        </li>
        <li><a href="#" aria-label="Current">Page {{ records.number }} of {{ records.paginator.num_pages }}</a></li>
        <li>
            {% if records.has_next %}
              <a href="{{ current_url }}page={{ records.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            {% endif %}
        </li>
      </ul>
    </nav>
{% endblock %}
